{% load static %}
{% load i18n %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% trans "Chùa Bảo Ân" %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/Logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/substyle.css' %}" rel="stylesheet">

</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
          <a href="/">
          <img src="{% static 'assets/img/Logo.png' %}" style="height: 4.5rem" alt="Logo" data-aos="zoom-in">
        </a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">{% trans "Trang chủ" %}</a></li>
          <li class="dropdown"><a href="#about"><span>{{about_us|get_name_for_language:request.LANGUAGE_CODE}}</span><i class="bi bi-chevron-down"></i></a>
              <ul>
              {% for aboutus_category in aboutus_categories %}
                <li><a href="/aboutus/{{ aboutus_category.en_slug }}">
                    {{ aboutus_category|get_name_for_language:request.LANGUAGE_CODE }}
                </a></li>
              {% endfor %}
              </ul>
          </li>

            <li class="dropdown"><a href="#services"><span>{{action|get_name_for_language:request.LANGUAGE_CODE}}</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for action_category in action_categories %}
                <li><a href="/action/{{ action_category.en_slug }}">
                    {{ action_category|get_name_for_language:request.LANGUAGE_CODE }}
                </a></li>
              {% endfor %}
            </ul>
          </li>

          <li class="dropdown"><a href="#portfolio"><span>{% trans "Thư viện hình ảnh" %}</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for gallery_categorie in gallery_categories %}
                <li>
                    <a href="/gallery/list_category/{{ gallery_categorie.en_slug }}">
                        {{ gallery_categorie|get_name_for_language:request.LANGUAGE_CODE }}
                    </a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{% url 'donation' %}">{% trans "Quyên góp"%}</a></li>
          <li><a class="nav-link scrollto" href="/#contact">{% trans "Liên lạc" %}</a></li>
        <!--
        <ul class="dropdown-menu" aria-labelledby="mavnarDropdown">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for lang in languages %}
            <li>
                <a class="dropdown-item" href="/{{lang.code}}">
                    {{lang.name_local}}
                </a>
            </li>
            {% endfor %}
        </ul>
        -->
            <li class="dropdown language-md-sm"><a><span>{% trans "Ngôn ngữ" %}</span><i class="bi bi-chevron-down"></i></a>
               <ul>
                <li>
                    <a href="javascript:void(0);" onclick="changeLanguage('vi', 'langVietnam')">
                        <img id="langVietnam" class="selected" src="{% static 'assets/img/lang-vietnam.png' %}" style="height: 1rem" alt="Logo" data-aos="zoom-in">
                    </a>
               </li>
               <li>
                    <a href="javascript:void(0);" onclick="changeLanguage('en', 'langKingdom')">
                        <img id="langKingdom" src="{% static 'assets/img/lang-kingdom.png' %}" style="height: 1rem" alt="Logo" data-aos="zoom-in">
                    </a>
               </li>
              </ul>
            </li>

            <li class="language-lg">
               <div class="row" >
                    <div class="col-lg-2">
                        <a href="javascript:void(0);" onclick="changeLanguage('vi', 'langVietnam')">
                            <img class="selected" src="{% static 'assets/img/lang-vietnam.png' %}" style="height: 1rem" alt="Logo" data-aos="zoom-in">
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <a href="javascript:void(0);" onclick="changeLanguage('en', 'langKingdom')">
                            <img src="{% static 'assets/img/lang-kingdom.png' %}" style="height: 1rem; margin-left: 1rem" alt="Logo" data-aos="zoom-in">
                        </a>
                    </div>
               </div>
            </li>
         </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <main id='main'>
        {% block content %}

        {% endblock %}
  </main>

  <!-- ======= Footer ======= -->
  <hr>
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-contact">
            <h3>{% trans "Chùa Báo Ân" %}</h3>
            <p>
              15 Allenby Road <br>
              Papatoetoe, Auckland 2025, <br>
              New Zealand<br><br>
              <strong>{% trans "Điện thoại" %}:</strong> +64 9 279 7126<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Bao An Temple</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <!--<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script> -->

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


</body>

<script>
    function changeLanguage(languageCode) {
        // Set the new language code
        document.cookie = "django_language=" + languageCode + "; path=/";
        // Reload the page to apply the language change
        location.reload();
    }
</script>
 </html>